<!DOCTYPE html>
<html>
  <head ng-app="OpenId">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="/lib/angular.js"></script>
    <script src="/javascripts/OpenIdControl.js"></script>
  </head>
  <body ng-controller="OpenIdControl">
  	<div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  
	
	 <a href="/facebook_login" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
  
   </div>
  </body>
</html>
